body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#ffffff;
  }
  
  .container{
    width:90%;
    margin:auto;
    overflow:hidden;
  }
  
  ul{
    margin:0;
    padding:0;
  }

  /* header */
/* ----------------------------------------- */
  
  header{
    background:#ffffff;
    color:#2e2e2e;
    border-bottom: #d12121 1px solid;
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    transition: top 0.3s;
  }

  .nav-up {
    top: -110px;
}
  
  header a{
    color:#2e2e2e;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  header li{
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #logo {
    float: left;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    padding: 10px 0px 2px 10px;
  }

  header #logo img{
    height: auto;
    width: 180px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  header #logo a{
    text-transform: none;
  }
  
  header nav{
    float: right;
    margin-top: 40px;
    padding: 0 0 10px 0;
  }
  
  header .highlight, header .current a{
    font-weight:bold;
  }
  
  header a:hover{
    color: #636363;
    text-decoration: none;
    
  }
  
  /* showcase */
/* ----------------------------------------- */

.showcase-index{
    top: 0;
}

.carousel-item img{
    height: 700px !important;
    object-fit: cover;
}

/* old showcase */
  /*
  #showcase{
    min-height:400px;
    background:url('../img/laser.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 450px;
    color:#ffffff;
    text-align: center;
    padding: 100px 0 100px 0;
  }
  

  #showcase .container{
    width:100%;
    height:100%;
  }


  
  #showcase h1{
    padding-top: 50px;
    font-size:65px;
    color: #ffffff;
    
  }
  */





 /* about and what we do home section */
/* ----------------------------------------- */

.main{
     padding-top: 100px;
 }

#info{
    width:90%;
    margin:auto;
    overflow:hidden;
}

 #info .wrapper{
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin-bottom: 15px;
     margin-top: 15px;
 }

 #info .wrapper h2{
     text-align: center;
     padding: 10px;
 }

 #info .wrapper p{
     width: 60%;
     margin:auto;
     text-align: center;
     padding: 5px;
     margin-bottom: 10px;
 }

 #info a{
     text-decoration: none;
     margin-bottom: 10px;
 }



 /* who we are page */
/* ----------------------------------------- */

 #about-cover{
     top: 0;
     padding: 0;
     margin-bottom: -70px;
 }

 #about-cover img{
    height: 700px;
    width: 100%;
    object-fit: cover;
    top: 0;
    margin: 0;
 }

 #aboutus .about{
     margin-top: 0;
     border-bottom: black 2px solid;
     padding-bottom: 50px;
 }

 #aboutus .about h2{
     margin: 15px;
 }

 #aboutus .about p{
     margin: 15px;
     padding-right: 200px;
 }

 #aboutus .wrapper{
     margin: 20px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin-top: 50px;
 }

 #aboutus .wrapper .info{
     width: 80%;
 }



 /* what we do page */
/* ----------------------------------------- */

 #wwd-cover{
    top: 0;
    padding: 0;
    margin-bottom: -90px;
}

#wwd-cover img{
    height: 700px;
    width: 100%;
    object-fit: cover;
    top: 0;
    margin: 0;
}

 #whatwedo .about{
    margin-top: 50px;
    border-bottom: black 2px solid;
    padding-bottom: 50px;
}

#whatwedo .about h2{
    margin: 15px;
}

#whatwedo .about p{
    margin: 15px;
    padding-right: 200px;
}

#whatwedo .companies{
    margin-top: 50px;
    padding-bottom: 50px;
}

#whatwedo .companies h2{
    margin: 15px;
}

#whatwedo .companies p{
    margin: 15px;
    padding-right: 200px;
}

.companies ul{
    text-align: center;
}

.companies li{
    /*float:left;*/
    display:inline;
    font-size: 36px;
    padding: 0 60px 0 60px;
  }

.companies li img{
      width: 100px;
      height: auto;
  }
  
.companies li a{
    color: #bfbfbf;
  }
  
.companies li a:hover{
    color: #2A40D1;
  }



  /* contact page */
/* ----------------------------------------- */

#location .wrapper{
      width: 90%;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
}

#location .info{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: ". card card card card card ."
}

#location .card{
    padding: 2em;
    height: 80%;
    margin-top: 20px;
    background-color: rgb(29, 29, 29);
    outline: #ffffff 2px solid;
    outline-offset: -1em;
    text-align: center;
    grid-area: card;
}

.card h4{
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.card p{
    color: #ffffff;
    margin: 2px;
}

/* map */

#map{
    height: 500px;
    width: 100%;
  }



  /* footer */
 /* ----------------------------------------- */

  footer{
    padding:10px;
    color:#ffffff;
    background-color:rgb(29, 29, 29);
  }

  footer a{
      text-decoration: none;
      color: #ffffff;
  }

  footer a:hover{
      color: #bebebe;
      text-decoration: none;
  }
  
  footer .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
    width: 90%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  footer .info{
      text-align: left;
      margin-left: 60px;
  }

  footer .info h6{
    margin-bottom: 20px;
    font-size: 18px;
  }

  footer .logo{
    text-align: center;
    border-top: #ffffff 1px solid;
  }

  footer .logo img{
    height: auto;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  footer .contact{
      margin-left: 60px;
  }

  footer .contact h6{
      margin-bottom: 5px;
      font-size: 18px;
  }

  footer .contact p{
      margin-bottom: 0px;
      font-size: 14px;
      margin-left: 0;
      margin-top: 0;
  }

  footer .copy h6{
    font-size: 14px;
    text-align: center;
  }
  
  footer .copy p{
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
  }
  



  /* media */
/* ----------------------------------------- */

@media (max-width: 1000px) {

    :root{
        --background: #ffffff;
    }

    header{
        height: 8em;
        text-align: center;
        float: none;
        position: relative;
        background: var(--background);
    }

    header #logo {
        float: none;
        text-align: center;
    }

    header #logo img 
    {
        grid-area: logo;
        float: none;
        text-align: center;
        width: 180px;
        height: auto;
    }

    header nav{
        position: absolute;
        text-align: center;
        top: 100%;
        left: 0;
        background: var(--background);
        width: 100%;
        padding: 0;
        margin: 0;
        border-bottom: #d12121 1px solid;
    }

    header nav ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    header nav li{
        display: inline-block;
        padding: 0;
        margin: 0;
        margin-bottom: 1em;
        margin-left: 1em;
    }
    header nav a{
        font-size: 13px;
        text-align: center;
    }

    /* showcase */
    .carousel-item img{
        height: 700px !important;
        object-fit: cover;
    }


    /* home about and wwd */

    .main{
        padding-top: 100px;
    }
   
   #info{
       width:100%;
       margin:auto;
       overflow:hidden;
   }
   
    #info .wrapper{
        display: inline;
    }
   
    #info .wrapper h2{
        text-align: center;
        padding: 10px;
    }
   
    #info .wrapper p{
        width: 60%;
        margin:auto;
        text-align: center;
        padding: 5px;
        margin-bottom: 10px;
    }
   
    #info a{
        text-decoration: none;
        margin-bottom: 10px;
    }

    #info .about{
        border-bottom: black 1px solid;
    }

    /* about page */
   
    #aboutus .about{
        margin-top: 0;
        border-bottom: black 2px solid;
        padding-bottom: 50px;
    }
   
    #aboutus .about p{
        margin: 15px;
        padding-right: 20px;
    }
   
    #aboutus .wrapper{
        margin: 20px;
        display: inline-block;
        margin-top: 50px;
    }

    /* wwd page */

    #whatwedo .about p{
        margin: 15px;
        padding-right: 20px;
    }

    #whatwedo .companies p{
        margin: 15px;
        padding-right: 20px;
    }
    
    .companies ul{
        text-align: center;
        display:grid;
        grid-template-columns: 1fr 1fr;
        padding: 40px 0 20px 0;
    }
    
    .companies li{
        /*float:left;*/
        
        font-size: 36px;
        padding: 0;
      }

      /* contact page */

    #location{
        top: 0;
        margin-top: -20px;
    }

    #location .wrapper{
        width: 100%;
        margin: auto;
        margin-top: 0;
        margin-bottom: 20px;
        display: inline-block;
    }
        
    #location .info{
        text-align: center;
        display: inline;
    }

    #location .card{
        height: 100%;
        width: 100%;
        background-color: rgb(29, 29, 29);
        outline: #ffffff 2px solid;
        text-align: center;
    }

    /* footer */

    footer{
        padding:10px;
        color:#ffffff;
        background-color:rgb(29, 29, 29);
      }
      
      footer .wrapper{
        display: none;
      }
    
      footer .logo{
        text-align: center;
        border-top: none;
      }
    
      footer .logo img{
        height: auto;
        width: 200px;
        text-align: center;
        padding: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    
      footer .copy h6{
        font-size: 14px;
        text-align: center;
      }
      
      footer .copy p{
        font-size: 10px;
        text-align: center;
        margin-top: 20px;
      }

}
  