nav {
    position: fixed;
    z-index: 999;
    background-color: white;
    top: 0;
    width: 100%;
    transition: top .6s;

    .wrapper{
        display: grid;
        grid-template-columns: .5fr 2fr 2fr 5fr .5fr;

        .logo{
            grid-column: 2/3;
            margin-top: -2.2em;
            margin-bottom: -2em;

            svg{
                padding: 0;
                margin: .8em;
                width: 100%;
                height: 180px;
                margin: 0;
                display: block;
                top: 0;
            }

        }

        .nav-toggle{
            display: none;
        }

        .nav-list{
            grid-column: 4/5;
            list-style: none;
            display: grid;
            align-items: center;
            grid-template-columns: repeat(4, 1fr);
            text-align: center;
            list-style: none;
            margin-top: .8em;
            padding: 0;
            width: 100%;
            font-size: 1em;

            // .current{
            //     font-weight: bold;
            //     padding: 0;
            //     margin: 0;
            // }
        }

        li{
            padding-right: 1em;
            
            a{
                color: $clr-black;
                text-decoration:none;
                text-transform: uppercase;

                &:hover{
                    color: #636363;
                    text-decoration: none;
                }
                &:active{
                    font-weight: bold;
                }
            }
        }
    }

}

.nav-up {
    top: -10em;
}

@media(max-width: 980px){
    nav{
        position: relative;
        .wrapper .nav-list{
        font-size: .8em;

        li{
            padding-right: .8em;
        }
    }}
}

@media(max-width: 763px){

    nav{

        .wrapper{
            grid-template-columns: 1.4fr 2fr .6fr .6fr .2fr;

            .logo{
                grid-column: 2/3;
                text-align: center;
                
            }

            .nav-toggle{
                display: none;

                &:checked ~ ul{
                    transform: scale(1,1);

                    & a{
                        opacity: 1;
                        transition: opacity 180ms ease-in-out 150ms;
                    }
                }
            }

            .nav-toggle-label{
                grid-column: 4/5;
                height: 100%;
                display: flex;
                align-items: center;
                margin-left: .5em;

                & span, span::before, span::after{
                    display: block;
                    background: black;
                    height: 1px;
                    width: 1.6em;
                    border-radius: 2px;
                    position: relative;
                }

                & span::before, span::after{
                    content: '';
                    position: absolute;
                }
                & span::before{
                    bottom: 6px;
                }
                & span::after{
                    top: 6px;
                }
            }

            .nav-list{
                display: list-item;
                position: absolute;
                text-align: left;
                top: 99%;
                left: 0;
                background-color: white;
                margin: 0;
                padding: 0;
                transform: scale(1,0);
                transition: transform 300ms ease-in-out;
                transform-origin: top;
                

                li{
                    margin-left: 1em;
                    margin-bottom: 1em;

                    & a{
                        opacity: 0;
                        transition: opacity 100ms ease-in-out;
                    }
                }
            }
        }
    }
}